.details {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.details::after {
  content: "";
  background: linear-gradient(
    rgba(52, 73, 94, 0.2549019607843137) 80%,
    #fff 100%
  );
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
  display: block;
  min-width: 100%;
  min-height: 100%;
}
.details_img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.details_content {
  color: white;
}

.details_title {
  font-size: 1.5rem;
  font-weight: 700;
}
.release_day {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
@media (min-width:768px) {
  .release_day {
    color: white;
  }
  .details_title {
    font-size: 2rem;
  }
}
