@media (min-width: 320px) {
    .movielegacy_list .card_container {
      width: 100%;
    }
  }
  
  @media (min-width: 375px) {
    .movielegacy_list .card_container {
      width: 9.5rem;
    }
  }
  @media (min-width: 425px) {
    .movielegacy_list .card_container {
      width: 11rem;
    }
  }
  @media (min-width: 768px) {
    .movielegacy_list .card_container {
      width: 9rem;
    }
  }
  
  @media (min-width: 1024px) {
    .movielegacy_list .card_container {
      width: 10rem;
    }
    .trending_title {
      padding-left: 25px;
    }
  }
  @media (min-width: 1440px) {
    .movielegacy_list .card_container {
      width: 15rem;
    }
    .trending_title {
      padding-left: unset;
    }
  }
  