.card_container {
  cursor: pointer;
}

.btn_search {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 20px;
}
.active:hover {
  background-color: #032541;
  color: white;
}
.active {
  color: white;
  background-color: #01b4e4;
}
.inactive {
  background-color: rgba(228, 228, 228, 0.7);
  backdrop-filter: blur(10px);
  color: rgba(0, 0, 0, 0.5);
}
.filter_panel {
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 16px;
  border: 1px solid #e3e3e3;
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.box_select {
  padding: 5px 16px;
  border-radius: 5px;
  background-color: #e4e7eb;
}
