.img_showcase {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all .4s ease-in-out;
}

.card_date,
.card_title,
.card_vote{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.card_title{
  font-weight: 700;
}

.card_container {
  cursor: default;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 18rem;
  overflow: hidden;
  transition: transform 330ms ease-in-out;
}

.card_container:hover {
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  transform: translateY(-4px);
}

.img_showcase:hover {
  transform: scale(1.1);
}

.card_showcase {
  background: white;
  color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
}
.card_showcase p{
  margin-bottom: 0rem;
}

.showcase_title {
  cursor: default;
}

/* mobile */

@media (min-width:320px) {
  .list .card_container{
    width: 8.5rem;
    margin: 5px;
  }
}
@media (min-width: 375px) {
  .list .card_container {
    width: 9.5rem;
  }
}

@media (min-width: 425px) {
  .list .card_container{
    width: 11rem;
  }
}

/* tablet */
@media (min-width:768px) {
  .list .card_container {
    width: 12rem;
  }
}

/* desktop */
@media (min-width:1024px) {
  .list .card_container {
    width: 9rem;
  }
}

@media (min-width: 1440px) {
  .list .card_container{
    width: 11rem;
  }
}