.wrap.tvshow{
    padding: 20px 10px;
}
.wrap_fluid.tvshow{
    padding: 20px 0px;
}



@media (min-width:1440px) {
    .wrap.tvshow{
        padding: 20px 20px;
    }
    .wrap_fluid.tvshow{
        padding: 20px 0px;
    }
}