.wrap.community {
  padding: 20px 10px;
}
.wrap_fluid.community {
  padding: 20px 0px;
}
.bg_community {
  background-image: url("../../assets/community/bg_community.svg");
  background-size: cover;
}
/* card */
.border {
  transform: scale(0.95);
  background: transparent;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  min-height: 400px;
}
.border:hover {
  border: 1px solid white;
}

.card_community {
  min-height: 400px;
  transform: scale(0.8);
  box-shadow: 0 70px 63px -60px #000;
  overflow: hidden;
  transition: background 0.8s;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  -ms-transition: background 0.8s;
  -o-transition: background 0.8s;
  border-radius: 10px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  position: relative;
  background-position: center;
  background-size: cover;
}
.card_community h2 {
  opacity: 0;
  transition: opacity 1s;
  margin: 20px;
  color: white;
}
.card_community:hover h2 {
  opacity: 1;
}
.community .swiper-horizontal > .swiper-scrollbar {
  cursor: pointer;
}
@media (min-width: 1440px) {
  .wrap.community {
    padding: 20px 20px;
  }
  .wrap_fluid.community {
    padding: 20px 0px;
  }
}
