.wrap.tvshow {
  padding: 20px 10px;
}
.wrap_fluid.tvshow {
  padding: 20px 0px;
}

.isDesktop{
  display: none;
}
.isTablet{
  display: none;
}
/* tablet */
@media (min-width:768px) {
  .isTablet{
    display: block;
  }
  .isMobile{
    display: none;
  }
}

/* desktop */
@media (min-width:1024px) {
  .isDesktop{
    display: block;
  }
  .isTablet{
    display: none;
  }
  .isMobile{
    display: none;
  }
}

@media (min-width: 1440px) {
  .wrap.tvshow {
    padding: 20px 20px;
  }
  .wrap_fluid.tvshow {
    padding: 20px 0px;
  }
}
