.dropdown {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.95);
  transition: visibility 0s, opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.dropdown a {
  color: black;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

.dropdown_title {
  border: 1px solid transparent;
  border-top: 1px solid rgba(128, 128, 128, 0.301);
}

.inactive {
  opacity: 0;
  visibility: hidden;
}

.active {
  animation: SlideDown 1s;
  opacity: 1;
  visibility: visible;
}

@keyframes SlideDown {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0%);
  }
}