.wrap.header_img.header {
  padding: 20px 10px;
}
.wrap_fluid.header.header_img {
  padding: 30px 0px;
}
.header {
  background-repeat: no-repeat;
  /* min-height: 100%; */
  /* min-width: 100%; */
  background-size: cover;
}

.header_img {
  display: none;
}
.header_article {
  cursor: default;
}
.img_movie {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header_overview {
  font-size: 1.2rem;
}
.header_content {
  padding: 0 5px;
}
/* button */
.btn_watch {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn_watch:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn_watch:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn_watch:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.swiper-horizontal > .swiper-scrollbar {
  display: none;
}

/* tablet */
@media (min-width: 768px) {
  .header_img {
    display: block;
  }
  .header_overview {
    width: 50%;
  }
  .header_img {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
/* desktop */
@media (min-width: 1440px) {
  .wrap.header_img.header_article {
    padding: 20px 0px;
  }
  .wrap_fluid.header {
    padding: 30px 0px;
  }

}
