.header {
  background-repeat: no-repeat;
  min-height: 780px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}
.header::after {
  content: "";
  background-color: rgba(51, 51, 51, 0.712);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.header_img {
  display: none;
}
.header_article {
  cursor: default;
}
.img_movie {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header_title {
  color: white;
}
.header_overview {
  color: white;
  font-size: 1.2rem;
}
.header_content {
  padding: 0 5px;
}

/* tablet */
@media (min-width: 768px) {
  .header_img {
    display: block;
  }
  .header_img {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .header_overview {
    display: block;
  }
  .header {
    min-height: 575px;
  }
}
@media (min-width: 1024px) {
  .header {
    min-height: 575px;
  }
}
/* desktop */
@media (min-width: 1440px) {
  .header {
    min-height: 680px;
    background-position: unset;
  }
  .header_overview {
    width: 50%;
  }
}
