.wrap.footer{
    padding: 20px 0px;
}
.wrap_fluid.footer{
    padding: 20px 0px;
}
.footer{
    color: black;
background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 99%);

}
.logo {
    cursor: pointer;
    width: 60px;
    min-width: 100%;
    height: 35px;
    min-height: 10%;
    
}
.logo_social{
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    margin: 15px 5px;
}
.logo_discord,
.logo_facebook,
.logo_github{
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

.logo_facebook:hover{
    color: #3b5998;
}

.logo_discord:hover{
    color: #7289DA;
}
.logo_github:hover{
    color: purple;
}
.contract{
    cursor: pointer;
    padding: 0px 5px;
}
.contract:hover{
    border-bottom: 1px solid black;
    color: gray;
}
.copyright{
    cursor: default;
}

@media (min-width:1440px) {
    .wrap.footer{
        padding: 20px 0px;
    }
    .wrap_fluid.footer{
        padding: 20px 0px;
    }
}