body.modal-open {
    padding-right: 0 !important;
  }
  .modal-content{
    width: 350px;
    height: 360px;
  }
  @media (min-width:768px) {
    .modal-content{
      width: 550px;
      height: 500px;
    }
  }
  @media (min-width:1024px) {
    .modal-content{
      width: 800px;
      height: 600px;
    }
  }