.dropdown ul {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all .5s ease;
}

.Active {
    opacity: 1;
    min-height: 100%;
}

.inActive {
    opacity: 0;
}

.dropdown_title {
    border: 1px solid transparent;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    padding: 26px 16px;
}

.dropdown a {
    color: black;
}

ul {
    margin-bottom: 0 !important;
}

.logo_noscroll {
    border: 1px solid transparent;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    margin: 20px 0;
}

.logo_scroll {
    margin: 34px 0;
}

.dropdown_content {
    transition: visibility 0s, opacity .3s cubic-bezier(.19, 1, .22, 1) .2s, transform .5s cubic-bezier(.19, 1, .22, 1);
}

.inActive_content {
    opacity: 0;
    visibility: hidden;
}

.Active_content {
    animation: SlideDown 1s;
    opacity: 1;
    visibility: visible;
}

.Active_div{
    min-height: 48vh;
}
.inActive_div{
    min-height: 52vh;
}

@keyframes SlideDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0%);
    }
}
@media (min-width:375px) {
    .Active_div{
        min-height: 30vh;
    }
    .inActive_div{
        min-height: 35vh;
    } 
}
@media (min-width:390px) {
    .Active_div{
        min-height: 45vh;
    }
    .inActive_div{
        min-height: 48.6vh;
    }
}