/* form */
.form_container{
  padding: 20px;
}
.form_shadow {
  box-shadow: unset;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}

@media (min-width: 1024px) {
  .form_container{
    padding: 20px 120px;
    background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 100%);
  }
  .form_shadow {
    box-shadow: -5px -5px 0px 5px rgba(255, 255, 255, 0.507),
      0px 4px 20px rgba(0, 0, 0, 0.92);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}


