html,
body {
  font-family: "Custom Font";
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
}

 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}