html,
body {
  font-family: "Custom Font";
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}