html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  height:100vh;
  scroll-behavior: smooth;
  /* hide scroll bar */
  width: 100vw;
}
body{
  overflow: overlay;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}
ul{
  padding-left: 0rem;
}
/* scrollbar */
::-webkit-scrollbar-track
{
	background-color: transparent;
}

::-webkit-scrollbar
{ 
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: lightgray;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
::-webkit-scrollbar-corner{
  border-radius: 10px;
  background-color: lightgray;
}