.card_container{
  cursor: pointer;
}
h1{
  cursor: default;
}
.search_btn{
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #01b4e4;
  color: white;
}

@media (min-width: 320px) {
    .trending_list .card_container {
      width: 8rem;
    }
  }
  
  @media (min-width: 375px) {
    .trending_list .card_container {
      width: 9.5rem;
    }
  }
  @media (min-width: 425px) {
    .trending_list .card_container {
      width: 11rem;
    }
  }
  @media (min-width: 768px) {
    .trending_list .card_container {
      width: 9rem;
    }
  }
  
  @media (min-width: 1024px) {
    .trending_list .card_container {
      width: 10rem;
    }
    .trending_title {
      padding-left: 25px;
    }
  }
  @media (min-width: 1440px) {
    .trending_list .card_container {
      width: 12rem;
    }
    .trending_title {
      padding-left: unset;
    }
  }
  