.dropdown{
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.95);
}
.dropdown_title{
    border: 1px solid transparent;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    padding: 26px 16px;
}
.dropdown a{
    color: black;
}
ul{
    margin-bottom: 0 !important;
}
.logo_border{
    min-height: 40vh;
    border: 1px solid transparent;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
}