/* quotes */
.login_img {
  width: 100vw;
  height: 80vh;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}

@media (min-width: 768px) {
  .login_img {
    display: none;
  }
}

@media (min-width: 1024px) {
  .login_img {
    display: none;
  }
}

@media (min-width: 1440px) {
  .login_img {
    display: block;
  }
}
